body {
  background-image: url("img/macarons.jpg");
  background-size: cover;
  height: 120vh;
  color:white;
  position: relative;
}

.textbox {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 10vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 75vw;
}
#homepage {
  display:none;
}


.patisserie {
  font-family: 'Homemade Apple', cursive;
  font-size: 4em;
}

.oven {
  font-family: 'Special Elite', cursive;
}

.info {
  margin: 5vh 5vw 0 5vw;
  font-family: 'Josefin Sans', sans-serif;
}


button {
  margin-top: 5vh;
  border-radius: 5px;
  background-color: tomato;
  border-color: tomato;
  color: white;
  padding:10px;
  width: 150px;
  font-family: 'Josefin Sans', sans-serif;
}

button > a{
  color: inherit;

}

a:hover {
  color:inherit;
  text-decoration:none;
}

button:hover  {
  cursor: pointer;
  font-size: 1.1em;
  padding:9px;
}
/* end index.html stylings */

/* begin menu.html stylings */
/* general stylings */
nav {
    font-family: 'Josefin Sans', sans-serif;
}

.menubody {
  background-image: url("img/grey_wash_wall.png");
  background-size: auto;
  background-repeat: repeat;
}

.menu {
  margin-top: 12vh;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 75px;
}
/* end general stylings */

/* sidebar stylings */
.sidebar {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    position: fixed;

}

hr {
  background-color: grey;
  width: 10vw;
  margin-left: 10px;

}

li {
list-style: none;
padding: 10px;
}
/* end sidebar */

/* start menusection */
.menusection{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    height: 100vh;
    margin-left: 26vw;
}

a {
  color: white;
}

h3 {
  margin-top: 10vh;
  text-decoration: underline;
}

h5{

  color: #ffc2b3;
}

.order {
  width: 200px;

}

.menuitem{
  margin-top: 8vh;
}

.menudivider {
  width: 85%;
  margin-left: 8%;
  margin-top: 5vh;
}

.menusection {
  height: 100%;
}

.lastitem {
  margin-bottom: 10vh;
}

.disclaimer {
  color:tomato;
  font-style: italic;
}

.crepes {
  margin-top: 10vh;
  text-decoration: underline;
}

img{
  width: 20vw;
}

.petit {
  width: 10vw;
}

.lecrepes {
  margin-top: 2vh;
}
/* end menusection */
/* location */

.location {
  margin-top: 30vh;
  width: 50vw;
}


.hours {
  margin-top: 0;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:80%;
    position:absolute;
    margin-left: 10%;
}

/* about */

.portrait {
  margin-bottom: 5vh;
}

.bio {

}


/* contact form stylings */

.my_php {
      font-size: 14pt;
  }

  .my_input {
      margin-bottom: 20px;
  }

  input {
      color: black;
  }
  textarea {
      color: black;
  }
  .my_button {
      color: black;
      margin-top: 10px;
      margin-bottom: 75px;
  }

  .share {
    height: 25.8vh;
  }
  .contact {
    text-decoration: none;
    margin-top :0;
  }


  /* mobile stylings */
  @media only screen and (max-width: 1000px){
    button.navbar-toggler {
      margin-top: 0;
    }

    .my_message {
      width: 40vw;
    }
  }

  @media only screen and (max-width: 767px){
    body {
      background-image: url("img/grey_wash_wall.png");
      background-size: contain;
    }
    .navbar-toggler {
      width: 15vw;
    }

    .patisserie {
      font-size: 2.5em;
    }
    img {
      width: 40vw;
      margin-left: 8vw;
    }
    .petit {
      width: 40vw;
    }

    .mobilehide {
      display: none;

    }
    .frontinfo {
      font-size: 1em;
    }

    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.25em;
    }

    h4 {
      font-size: 1.1em;
    }

    h5 {
      font-size: 1em;

    }

    p{
      font-size: 0.90em;
    }
    .navbar-brand {
      font-size: 1em;
    }

    .menu {
      padding: 35px;
    }
    .menuitem {
      margin-top: 6.5vh;
    }
    .lecrepes {
      margin-top: 1vh;
    }
    .menusection {
      margin-left: 0;
      width: 100%;
      background-color: none;
    }

    .location {
      width: 80vw;
    }

    .my_message {
      width: 60vw;
    }


  }

  @media only screen and (max-width: 600px) {
    span {
      display: none;
    }
  }
